{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 1200;
  }
  .back h1 {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
  }
  
  .btn {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: white;
    border: white;
    color: gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: white;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}:
      </h2>
      <h1 class="p-3">
        {{config.tagline2|safe}}
      </h1>
      <h2 class="p-3" >
        {{config.date}}
      </h2>
     
      <div class="button p-2">
          <a href="{{config.program}}" target="_blank" class="btn">Official Program</a>
          
    </div>
    <div class="button p-2">
          <a href="{{config.schedule}}" target="_blank" class="btn">Schedule</a>
          
    </div>
    </div>
    
  </div>
</div>
{% endblock %}

{% block content %}

{{ readme | markdown }}
<!-- Registration -->

  

<!-- Sponsor -->
      <div class="sponsors">
        <div class="border-top my-3"></div>
        <div class="row p-4">
        </div>
        <div class="row p-4" id="organizers">
          <div class="col-12 bd-content ">
            <h2 class="text-center"> Sponsors </h2>
          </div>
        </div>
        <!-- <center> -->
        <!-- <img src="static/images/sponsors.png" width="100%" /> -->
        <!-- </center> -->
        {% for section in config.sponsors %}
        <div class="row p-3">
          <div class="col-12 bd-content ">
            <h3 class="">
            {{section.tier}} </h2>
          </div>
        </div>
        <div class="row justify-content-start">
          {% set rowloop = loop.index %}
          {% for sponsor in section.vals %}
          <div class="col-md-{{section.size}} col-xs-12 p-2" style="display: flex;flex-flow:wrap; margin-left:0; box-sizing: border-box; border:none;">
            <div class="card "style="display:block; overflow:hidden; width:95%; border:none;">
              <div class="card-header d-flex flex-wrap justify-content-center align-items-center" style="height: {{section.height}}px; background-color:white; border:none;">
                <a  target="_blank" href="{{sponsor.url}}"><img src="{{sponsor.img_src}}" style="width:{{sponsor.size}};" class="sponsorLogo" alt="{{sponsor.name}}" /></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

<!-- Organizers -->
{{ components.section("Organizers") }}
{{ components.organizergroup(committee) }}

{% endblock %}
